
<div>

	<h2>
		<center>
			<font color="#757573">Gestion Ville Client</font>
		</center>
	</h2>
	<!-- btn-block -->
	<div class="row">
		<div>
			<button class="btn btn-primary btn-lg " data-toggle="modal"
				data-target="#saveVillecltModal" ng-click="clear()">
				<span class="glyphicon glyphicon-flash"></span> <span>creer
					une nouvelle Ville Client </span>
			</button>
		</div>
		<div align="right">

			<div class="col-xs-3 input-group ">
				<!-- 			class="col-xs-3 .col-xs-6 .col-md-4 input-group custom-search-form"> -->

				<input class="form-control" type="text" placeholder="Search..."
					ng-model="filter.name"> <span class="input-group-btn">
					<button ng-click="doSearch()" class="btn btn-default" type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="modal fade" id="saveVillecltModal" tabindex="-1"
		role="dialog" aria-labelledby="myVillecltLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="editForm" role="form" ng-submit="create()" novalidate>

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myVillecltLabel">Creer ou editer
							une Ville Client</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label> <input type="text" class="form-control"
								name="id" ng-model="villeclt.idVille" readonly>
						</div>

						<div class="form-group">
							<label>Nom*</label> <input type="text" autocomplete="off"
								class="form-control" name="nom" ng-model="villeclt.nom" required
								ng-minlength="2" ng-maxlength="25" ng-pattern="/^[a-zA-Z]*$/">

							<div ng-messages="editForm.nom.$error" style="color: red"
								role="alert"
								ng-if="editForm.$submitted||editForm.nom.$touched ||editForm.nom.$viewValue.length>25">

								<div ng-message="required">ce champs est obligatoire</div>
								<div ng-message="minlength">ce champ est trop court</div>
								<div ng-message="maxlength">ce champ est tres long</div>
								<div ng-message="pattern">ce champ contient des mauvais
									caracteres</div>

							</div>
						</div>

						<div class="form-group">
							<label>Description</label> <input type="text" autocomplete="off"
								class="form-control" name="description"
								ng-model="villeclt.description" ng-maxlength="50"
								ng-pattern="/^[a-zA-Z0-9]*$/">
							<div ng-messages="editForm.description.$error" style="color: red"
								role="alert"
								ng-if="editForm.$submitted||editForm.description.$touched ||editForm.description.$viewValue.length>50">
								<div ng-message="maxlength">ce champ est tres long</div>
								<div ng-message="pattern">ce champ contient des mauvais
									caracteres</div>
							</div>

<!-- 							<div ng-show="editForm.description.$invalid"></div> -->
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" class="btn btn-primary" 
											ng-disabled="editForm.$invalid" >
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteVillecltConfirmation">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="deleteForm" ng-submit="confirmDelete(villeclt.idVille)">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title">Confirm delete operation</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete this Villeclt?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" ng-disabled="deleteForm.$invalid"
							class="btn btn-danger">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>







	<div class="table-responsive">
		<p align="left">
			<strong class="colortext">Page:</strong> {{tableParams.page()}}
		</p>
		<p align="right">
			<strong class="colortext">Count per page:</strong>
			{{tableParams.count()}}
		</p>
		<!-- 	table-striped -->
		<table ng-table="tableParams" show-filter="true"
			template-pagination="custom/pager" class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Description</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="villeclt in $data">
					<td sortable="'id'"><a
						ui-sref="villecltDetail({id:villeclt.idVille})">{{villeclt.idVille}}</a></td>
					<td data-title="'Nom'" filter="{'nom':'text'}">
						{{villeclt.nom}}</td>
					<td>{{villeclt.description}}</td>
					<td>
						<button type="submit"
							ui-sref="villecltDetail({id:villeclt.idVille})"
							class="btn btn-info">
							<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>
								View</span>
						</button>
						<button type="submit" ng-click="update(villeclt.idVille)"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>
								Edit</span>
						</button>
						<button type="submit" ng-click="delete(villeclt.idVille)"
							class="btn btn-danger">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>
								Delete</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>


</div>
